/* Стили для главной страницы */

.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}

/* Медиа-запросы */
@media (max-width: 768px) {
  .home-main {
    padding: 20px 0;
  }
}

@media (max-width: 576px) {
  .home-main {
    padding: 15px 0;
  }
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
  align-items: center;
}
