/* Стили для страницы легендарных покемонов */

/* Специфичные стили для заголовков поколений на странице легендарных покемонов */
.section-title.generation {
  color: var(--primary-color);
  font-weight: 700;
  /* другие стили по желанию */
}
.section-title.generation::after {
  display: none;
}
.main-content {
  margin-top: 140px;
} 