.stat-bar-container {
  margin-bottom: 16px;
}

.stat-bar-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 14px;
  color: var(--text-light);
  text-transform: capitalize;
}
