.evolution-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.3s ease;
  background-color: var(--badge-background);
  margin-bottom: 15px;
}

@keyframes gentleFloat {
  0%, 100% { transform: translateY(-5px) scale(1.05); }
  50% { transform: translateY(-10px) scale(1.05); }
}

.evolution-item:hover {
  background-color: rgba(33, 150, 243, 0.1);
  transform: translateY(-3px);
  box-shadow: 0 4px 15px var(--shadow-color);
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
