/* Стили для списка покемонов */

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  margin-bottom: 30px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto 30px auto;
  padding: 0 16px;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .pokemon-grid {
    padding: 0 8px;
  }
}
@media (max-width: 400px) {
  .pokemon-grid {
    padding: 0 4vw;
  }
}

.pokemon-card {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 400px) {
  .pokemon-card {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}
@media (max-width: 350px) {
  .pokemon-grid {
    gap: 6px;
  }
  .pokemon-card {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .pokemon-card-content {
    padding: 4px !important;
  }
}

.scroll-trigger {
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.empty-search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  text-align: center;
  color: var(--text-light);
  animation: fadeIn 0.5s ease-in-out;
}

.empty-search-result h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.empty-search-result p {
  font-size: 16px;
}
